#include "resource.h"
#include <windows.h>

#define VER_FILEVERSION             1,0,0,0
#define VER_FILEVERSION_STR         "1.0.0.0\0"


VS_VERSION_INFO VERSIONINFO
 FILEVERSION 1,0,0,0
 FILEFLAGSMASK 0x3fL
#ifdef _DEBUG
 FILEFLAGS 0x1L
#else
 FILEFLAGS 0x0L
#endif
 FILEOS 0x40004L
 FILETYPE 0x1L
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040c04b0"
        BEGIN
            VALUE "CompanyName", "https://github.com/Gaudrioles"
            VALUE "FileDescription", "Gestionnaire CHANGELOG"
            VALUE "FileVersion", VER_FILEVERSION_STR
            VALUE "LegalCopyright", "Copyright (C) 2021"
            VALUE "OriginalFilename", "logator.exe"
            VALUE "ProductName", "logator"
            VALUE "ProductVersion", APP_VERSION "\0"
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x40c, 1200
    END
END
